.run-list__item {
  border-bottom: 1px solid $text-placeholder;
  display: flex;
  justify-content: space-between;

  &--text {
    color: $text-body;
    margin: $gutter / 2 0;
  }
}

.run-submit {
  display: flex;
  justify-content: flex-end;
}

.button-new {
  border: 0;
  border-radius: 50%;
  height: 3rem;
  padding: $gutter / 2 $gutter;
  width: 3rem;

  &__icon {
    color: $text-title;
  }
}
