.form-title {
  color: $text-title;
}

.form-list {
  border-bottom: 1px solid $text-placeholder;
}

.form-button {
  padding: $gutter / 2 $gutter;
  border: 0;
}


.form-submit {
  display: flex;
  justify-content: space-between;
}
