$button-grey: #ddd;
$button-green: #80cbc4;
$button-text-grey: #1c1c1c;
$background-blue: #00bbd3;
$text-title: #fff;
$text-body: rgba(255, 255, 255, .6);
$text-placeholder: rgba(255, 255, 255, .4);
$text-green: #92cbc5;
$body-background: #282828;

body {
  background: $body-background;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 30rem;
}

.nav-container {
  background: $background-blue;
  color: $text-title;
  overflow: auto;
}
