<ul>
  <div class="container">
    {{#each model as |run|}}
      <li>{{run.date}}{{run.time}}</li>
      <button {{action removeRun run on="click"}}>x</button>
    {{/each}}
  </div>
</ul>

<div class="app-container">
  <div class="container">
    {{#link-to "new"}}
      <button>New</button>
    {{/link-to}}
  </div>
</div>
