<ul>
  <div class="container">
    {{#each model as |run|}}
      <li>{{run.date}}{{run.time}}</li>
      <button {{action removeRun run on="click"}}>x</button>
    {{/each}}
  </div>
</ul>

<div class="app-container">
  <div class="container">
    <div class="run-submit">{{#link-to "new"}}
        <button class="button-new button-green">+</button>
      {{/link-to}}</div>
  </div>
</div>
