<ul class="run-list">
    {{#each model as |run|}}
      <li class="run-list__item"><span class="run-list__item--text">{{run.date}}</span><span class="run-list__item--text text-green">{{run.time}}</span></li>
      <button {{action removeRun run on="click"}}>x</button>
    {{/each}}
</ul>

<div class="run-submit">{{#link-to "new"}}
    <button class="button-new button-green"><i class="button-new__icon fa fa-plus"></i></button>
  {{/link-to}}
</div>
