<ul class="run-list">
    {{#each model as |run|}}
      <li>{{run.date}}{{run.time}}</li>
      <button {{action removeRun run on="click"}}>x</button>
    {{/each}}
</ul>

<div class="run-submit">{{#link-to "new"}}
    <button class="button-new button-green"><i class="button-new__icon fa fa-plus"></i></button>
  {{/link-to}}
</div>
