<div class="application">
  <nav class="nav-container">
    <div class="container">
      {{#link-to "index"}}
        <h2 class="app-title">Run Timer</h2>
      {{/link-to}}
    </div>
  </nav>

  {{outlet}}
</div>
