<nav class="nav-container">
  <div class="container">
    {{#link-to "index"}}
      <h2 class="app-title">Run Timer</h2>
    {{/link-to}}
  </div>
</nav>

<div class="container">
  <div class="app-container">
    {{outlet}}
  </div>
</div>
